@font-face
{
	font-family: Comfortaa-admin;
	src: url("../fonts/Comfortaa.ttf");
}

/* COMMON */
.comk_common
{
	font-family: Comfortaa-admin;
}

img.comk-edit_icon
{
	width: 40px;
	height: 40px;
}

/* OPTIONS */
input.comk-option_button
{
	display: block;
}

/* MESSAGES */
div.comk-error_messages
{
	width: 100%;
}

div.comk-error_message
{
	width: max-content;
	max-width: 50%;
	margin: 10px 0px;
	padding: 10px;
	font-size: 1.2rem;
	color: white;
	background-color: red;
	border-radius: 5px;
}